/nbproject/private/
/vendor/
/composer.lock
/debian/php-subreg/
/debian/php-subreg.debhelper.log
/debian/php-subreg.substvars
/debian/debhelper-build-stamp
/tests/.phpunit.result.cache
/.phpunit.result.cache
/.phpunit.cache/
/nbproject/
/.env
