Source: php-spojenet-subreg
Build-Depends: debhelper (>= 7.0.50~)
Section: web
Standards-Version: 3.9.8
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/Spoje-NET/php-subreg

Package: php-spojentet-subreg
Depends: ${misc:Depends}, php-vitexsoftware-ease-core, php-soap
Architecture: all
Section: web
Priority: optional
Description: PHP Client Library for soap.subreg.cz
 Provide classes for several domain/customer related operations
