Source: php-spojenet-subreg
Section: php
Priority: optional
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Build-Depends: debhelper-compat (= 13), pkg-php-tools (>= 1.7~), phpab, jq, moreutils
Standards-Version: 4.7.0
Homepage: https://github.com/Spoje-NET/php-subreg
Rules-Requires-Root: no

Package: php-spojenet-subreg
Architecture: all
Section: php
Depends: ${misc:Depends}, ${phpcomposer:Debian-require}, php-soap
Description: PHP Client Library for soap.subreg.cz
 Provide classes for several domain/customer related operations
