#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_auto_test:
	echo tests temporarly skipped for now in rules file

override_dh_install:
	# Generate autoloader
	phpab --output src/Subreg/autoload.php --basedir src/Subreg src/Subreg
	dh_install
	# Register with pkg-php-tools
	install -m0755 -d debian/php-spojenet-subreg/usr/share/pkg-php-tools/autoloaders
	echo 'deb subreg Subreg/autoload.php' > debian/php-spojenet-subreg/usr/share/pkg-php-tools/autoloaders/php-spojenet-subreg
	# Version stamp
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/composer.json |sponge debian/php-spojenet-subreg/usr/share/php/Subreg/composer.json
